.rad-opt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.radio-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rl-option{
    position: relative;
    padding: 10px 14px;
    background-color: aqua;
}

input:hover{
    background-color: aquamarine;
}

.b-1{
    border-radius: 20px 0 0 20px;
}

.b-3{
    border-radius: 0 20px 20px 0;
}

.rl-option label{
    display: flex;
    justify-content: center;
}

.rl-option input{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

input:checked + .rl-option{
    background-color: aquamarine;
}