@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


$colors: (
    "primary-light": #dabfff,
    "primary-dark": #2c2a4a,
    "secondary-light": #907ad6,
    "secondary-dark": #7fdeff,
    "base-light": #fff,
    "base-dark": #4f518c,
);


$text-1:  'Poppins', 'sans-serif';
$font-weight: (
    "regular" : 400,
    "medium"  : 500,
    "semi"    : 600,
    "bold"    : 700
);



